@page "/studentlist"

@using StudentAppHybrid.Database

<h1>Student List</h1>

<p>This component demonstrates showing data of Students.</p>

<div class="row">
    <p><a class="btn btn-success" href="/addStudent">Add New Student</a></p>
</div>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="col-md-12">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in students)
                {
                    <tr>
                        <td>@student.FirstName</td>
                        <td>@student.MiddleName</td>
                        <td>@student.LastName</td>
                        <td>@student.Gender</td>
                        <td><a href="/updateStudent/@student.Id" class="btn btn-primary">Edit</a></td>
                        <td><a href="" class="btn btn-danger">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}

@code {
    private List<Student> students;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate a loading indicator
        
        students = App.Database.GetTableRows<Student>("Student");
    }
}
